<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>

			<!--class name="org.test.OnBoardingModule" />

			<class name="org.test.Login" />

			<class name="org.test.TeamModule" /-->

			<class name="org.test.CustomerCreateContactModule" />

			<class name="org.test.CustomerCreateOrganizationModule" />

			<class name="org.test.CustomerContactJob" />

			<class name="org.test.CustomerOrganizationJob" />

			<class name="org.test.GlobalContactJob" />

			<class name="org.test.GlobalOrganizationJob" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->